@model UfcElo.Web.Models.BoutViewModel
@{

}

<div>

    @Html.Partial("_BoutSummary", Model);

</div>

@*
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = ViewBag.Bout.BoutId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
*@
