@model IEnumerable<UfcElo.Data.Models.Bout>
@{
   
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<h1 class="text-center">Fights</h1>
    <div>
        @foreach (var bout in Model)
        {
            @Html.Partial("_BoutSummary", bout);
        }
    </div>



