@model UfcElo.Web.Models.AllBoutsViewModel
@{
   
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<h1 class="text-center">Fights</h1>
<div>
    @{
        var boutList = Model.bouts.ToList();
        foreach (var x in boutList)
        {
            UfcElo.Web.Models.BoutViewModel boutViewModel = new UfcElo.Web.Models.BoutViewModel
            {
                bout = x,
                fighters = Model.fighters
            };

            @Html.Partial("_BoutSummary", boutViewModel);
        }
    }
</div>



